* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #242424;
    font-family: 'Arvo';
    font-size: 12px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

:root {
    --avatar-size: 40vh;
}

h1 {
    font-family: 'Roboto', Georgia;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.39em;
    text-transform: uppercase;
    margin: 6vh auto;
}

h2 {
    color: #505050;
    font-weight: normal;
    font-weight: normal;
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 5vh auto;
    padding: 0 5vw;
}

section {
    min-height: 80vh;
    padding-top: 8vh;
}

#main {
    position: relative;
    z-index: 1;
}

#title {
    color: #242424;
    text-align: center;
}

#cta {
    color: #505050;
    text-align: center;
}

#projects {
    padding-top: 10vh;
}

.svg {
    width: 100%;
    height: 100%;
}

#avatar {
    position: relative;
    --top-offset: calc(0px - var(--avatar-size));
}

#avatar-img {
    position: absolute;
    height: var(--avatar-size);
    top: var(--top-offset);
    z-index: 1;
}

#avatar-footer {
    position: absolute;
    width: 30vh;
    /* --top-offset: -35vh; */
    top: -32vh;
    left: -20vw;
    z-index: 3;
}

#gear {
    display: block;
    text-align: center;
    margin: 1vh auto;
    width: 8vh;
}

.menu {
    display: grid;
    text-align: center;
    width: 100%;
    grid-template-columns: 5fr 6fr 5fr;
    position: fixed;
    top: 0;
    z-index: 3;
}

.menu ul {
    background: #00427E;
    color: #E8E8E8;
    min-height: 50px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px black;
}

.menu a {
    color: #E8E8E8;
    text-decoration: none;
    text-transform: uppercase;
}

.menu .logo {
    --deco-heigth: 60%;
    --deco-width: 5%;
    --offset: calc(var(--deco-width) - var(--deco-width) * 2 + 1%);
    font-family: 'Quantico';
    background: #242424;
    transform-origin: top;
    transform: scale(1.2);
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.75em;
    text-transform: uppercase;
    box-shadow: 0px 2px 12px black;
    cursor: pointer;
    z-index: 2;
    transition: transform ease-in 100ms, box-shadow ease-in 100ms;
}

.logo * {
    font-family: 'Quantico';
}

.menu .logo strong {
    letter-spacing: 0.24em;
}

.logo::before {
    content: "";
    display: block;
    position: absolute;
    float: right;
    top: 0px;
    left: var(--offset);
    background: #242424;
    height: var(--deco-heigth);
    width: var(--deco-width);
}

.logo::after {
    content: "";
    display: block;
    position: absolute;
    float: right;
    bottom: 0px;
    right: var(--offset);
    background: #242424;
    height: var(--deco-heigth);
    width: var(--deco-width);
}

.menu .logo:hover {
    transform-origin: top;
    transform: scale(1.25);
    box-shadow: 0px 0px 15px black;
}

.menu .item:hover span {
    transition: transform ease-in 100ms;
}

.menu .item:hover span {
    transform: scale(1.2);
}

.menu .item:hover {
    cursor: pointer;
    background: #0c579e;
}

.white-text {
    color: #E8E8E8;
}

.white-grad {
    background: linear-gradient(350deg, #C4C4C4 33.99%, #FFFFFF 102.94%), #C4C4C4;
}

.shape-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.shape-top {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.negative-mt {
    margin-top: -11vh;
}

.black-grad {
    /* height: 100vh; */
    background: #242424;
}

.spacer {
    height: var(--avatar-size);
}

.project-container{
    width: 50vw;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;

}

.project{
    /* background: #cacaca; */
    position: absolute;
    top: 0;
    left: 0;
    min-height: 35vh;
    max-height: 300px;
    width: 50vw;
    filter: brightness(.45) blur(1px);
    
    border-radius: 3px;
}
.project-image{
    width: 90%;
    margin: 5%;
    border-radius: 3px;
    border: 1px solid rgb(156, 156, 156);
}
.project-title{
    margin: 1% auto;
    font-size: 1em;
    
}
.project-description{
    margin: 5% 13%;
    font-size: 0.85em;
    text-align: justify;
}
.project.active{
    /* background: #c4c4c4; */
    z-index: 1;
    filter: brightness(1);
}
#p1{
    position: absolute;
    
    margin: 0 auto;
}
#p2{
    position: absolute;
    transform: translate(40%, 5%) scale(0.8);
}
#p3{
    position: absolute;
    transform: translate(-40%, 5%) scale(0.8);
    
}
.contact-container{
    display: flex;
    justify-content: center;
}
.contact-button{
    background: #E8E8E8;
    padding: 1em;
    border: none;
    border-radius: 3px;
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
}
.contact-button:hover{
    background: rgb(241, 241, 241);
    transform-origin: bottom;
    transform: scale(.97);
    
}


footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    background: #00427E;
    position: relative;
    /* z-index: 1; */
    min-height: 20vh;
    box-shadow: 0px -2px 10px 0px black;
    align-items: center;
    justify-content: center;
}

.social-container {
    width: 50%;
    display: flex;
    height: 8vh;
    margin: 3vh;
    justify-content: center;
}
footer a{
    color: #E8E8E8;
    font-weight: bold;
    text-decoration: none;
}


@media (min-width: 400px) {
    .menu {
        grid-template-columns: 4fr 3fr 4fr;
    }
}

@media (min-width: 800px) {
    .menu {
        grid-template-columns: 5fr 3fr 5fr;
    }
}

@media (min-width: 1200px) {
    .menu {
        grid-template-columns: 4fr 2fr 4fr;
    }
}